<md-dialog flex="40">
    <form name="addCatForm" ng-submit="addCat(addCatForm.$valid)"  novalidate>
        <md-content class="sticky-container">
            
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                      <span>{{parent.Translate.PRODUCT.ADD_CAT}}</span>
                </h2>
            </md-toolbar>

            <div class="dialog-content" layout="row" layout-align="center start" >
                <md-content class="md-padding" layout="column"  layout-align="center center" flex="100" layout-fill>
                        <md-input-container layout-fill>
                            <label>{{parent.Translate.PRODUCT.CAT_TITLE}}</label>
                            <input type="text" name="catTitle"  required ng-model="catTitle">
                            <div ng-messages="addCatForm.catTitle.$error" role="alert">
                                <div ng-message="required">{{parent.Translate.INPUT_VALIDATION.REQUIRE}}</div>
                            </div>
                        </md-input-container >

                    <div layout="row" layout-align=" center" flex="100" layout-fill >
                        <md-select flex="33" ng-show="parent.typesList"  placeholder=" {{parent.Translate.PRODUCT.SELECT_TYPE}} " name="catType" required ng-model="catType">
                            <md-option ng-value="0" >{{parent.Translate.PRODUCT.NO_TYPE}}</md-option>
                            <md-option ng-value="opt.id" ng-repeat="opt in parent.typesList">{{ opt.title }}</md-option>
                        </md-select>
                        <md-button  class="md-primary" ng-click="" flex="33" >
                            <span class="icon pshop-plus ng-scope"></span>
                            {{parent.Translate.PRODUCT.ADD_TYPE}}
                        </md-button>
                    </div>

                </md-content>


            </div>
        </md-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                {{parent.Translate.CLOSE}}
            </md-button>
            <md-button ng-disabled="addCatForm.$invalid" type="submit" class="md-primary">
                {{parent.Translate.ADD}}
            </md-button>
        </div>
    </form>
</md-dialog>