@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("font/OpenSans-Light.ttf") format("truetype");
}
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
