body.rtl
{
    direction: rtl;
    
    
    /*  Product Section */
    .product{
        .box{
            border-width        : 0px;
            border-left-width   : 1px;
            
            .search-box{
                .icon{
                    left:20px;
                }
            }
            .list{
                ul{
                    .icon{float:right;}
                }
                
                .item{
                    .toolbar{
                        float: left;
                        transform: translateX(-20px);
                    }
                }
            }
            
        }
    }
    
/* Angular Material rtl fix */
.md-select-label .md-select-icon
{
    width:100%;
}
md-select.md-default-theme .md-select-label.md-placeholder span{
    width:100%;
}



/*animation*/
.fadeInSide
{
    .fadeInRight
}

    
}
