

/* Angular Material Fix */
md-input-container .md-placeholder, md-input-container label:not(.md-no-float)
{
      transform-origin: 98% 60%;
      transform-style: preserve-3d;
}
md-select
{
    margin-top:0px;
}
button.md-button
{
    .icon{
          font-size: 16px;
          vertical-align: middle;
    }
    
}
md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder
{
    color:rgba(0,0,0,0.50);
}
.md-select-label
{
    span{width:100%;}
}
md-input-container [ng-message]
{
    color :rgba(0,0,0,0);
}
 
