@font-face {
  font-family: 'Yekan';
  font-weight: normal;
  font-style: normal;
  src: url("font/BYekan.ttf") format("truetype");
}
body {
  font-size: 13px;
  font-family: 'Yekan', tahoma, arial;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
